:root{
    --dark: #301e4e;
	--darker: #8e96a156;
	--darkest: #1d122e;
	--grey: #6B7280;
    --green: #1c7e5d;
	--pink: #ff5a57;
	--dark-gray: #fad4d3;
	--light: rgb(212, 211, 211);
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: white;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--dark-gray);
    margin-bottom: 1rem;
}

#task-form{
    display: flex;
}

input,button{
    appearance :none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25ren;
}

#new-task-input::placeholder{
    color: var(--grey);
}

#new-task-submit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--pink),var(--green));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex:  1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark-gray);
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


#tasks .task .content{
    flex: 1 1 0%;
}

#tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4;
}

#tasks .task .content .text:not(:read-only){
    color: var(--pink);
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 00.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    background-image: linear-gradient(to right,var(--pink),var(--green));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .done{
    color: crimson;
}
