*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

body{
    height: 100vh;
    display: flex;
    background-color: var(--dark);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: var(--darker);
    text-align: center;
    border-radius: 20px;
    padding: 4rem 6rem;
}

.container #quotes{
    background-color: var(--darkest);
    padding: 2rem;
    border-radius: 30px;
    color: white;
}

#quotes h1
{
    font-family: cursive;
    padding: 2px;
    font-size: 25px;
}

#quotes h6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 2px;
    margin-top: 6px;
}

.icon{
    margin-top: 20px;
}
.icon i
{
    font-size: 30px;
    background-image: linear-gradient(to right,var(--pink),var(--purple));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
.icon i:hover
{
    opacity: 0.4;
}
button
{
    margin-top: 50px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: cursive;
    font-size: 20px;
    color: var(--darkest);
}

button:hover{
    background-color: var(--darkest);
    color: white;
    transition: 0.5s;
}

